* {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	box-sizing: border-box;
}
html {
	font-size: 1em;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	
	min-height: 100vh;
	margin: 0 auto;
}
/* 
			Заголовок
*/
header {
	display: flex;
	width: 60vw;
	margin: 0 auto;
}

figure.logo a {
	display: block;
	min-width: 25px;
	min-height: 25px;
	width: 3.5vw;
	height: 3.5vw;
	margin-bottom: -1.1vw;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(./img/logoshort.png);
}
figure.logo {
	margin: 0;
}

header.title-header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(255, 255, 255);
}

.title-header h1 {
margin: 0;
font-size: 1.5em;
line-height: 1.5em;
}

header.title-header a,
header.title-header a:visited,
header.title-header a:hover {
color: black;
}

nav.title {
display: flex;
align-items: center;
column-gap: 1em;
font-size: 1.2em;

}
nav.title > a {
text-decoration: none;
padding: 0 4px;
padding-bottom: 4px;
font-weight: bold;
border-radius: 5px;
line-height: 1.5em;
}

nav.title > a:hover {
text-decoration:underline;
}
/* 
		Конец заголовока
*/

/*
		Тело сайта
*/
body {
	display: flex;
	flex-direction: column;
	
	min-height: 100vh;
	margin: 0 auto;
}

main {
	margin: 0 auto;
	flex: 1;
}

article {
	width: 60vw;
	min-height: 100vh;
}

section{
	font-size: 1.5em;
	color: rgb(63, 63, 63);
}

section a {
text-decoration: underline;
font-weight: 500;
color: rgb(24, 24, 24);
}
section a:hover {
text-decoration: none;
}
/*
		Конец тела
*/

/* 
		"Основная инфа" в index.html
*/
section.main-info {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
row-gap: 2em;
margin-top: 15vh;
}

.main-info-text {
width: 8em;
flex-grow: 1;
}

.main-info-text h1 {
/* font-size: 4rem; */
font-size: 47px;
margin: 0;
text-align: center;
}

.main-info-text p {
/* font-size: 3em; */
font-size: 34px;
margin: 0;
color: black;
}

figure.main-picture {
margin: 0 auto;
max-width: 17em;
flex-grow: 1;
}

figure.main-picture img {
width: 100%;
transition: transform 0.5s 0s ease;
}
figure.main-picture img:hover {
transform: scale(1.1);
}
/* 
		Конец 
*/
/*
			"Последнее добавленное" в index.html
*/
section.main-new {
	padding: 10px;
	margin: 0 auto;
	margin-top: 20vh;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	width: 10vw;
	transition: transform 0.5s 0s ease;
}

section.main-new h2 {
	margin: 0;
	margin-top: -15px;

	font-size: 1.2em;
	line-height: 1em;
}

section.main-new h3 {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	font-size: 1em;
	line-height: 1em;
	text-align: center;
}
section.main-new h3 a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
section.main-new:hover {
	transform: scale(1.1);
}

section.main-new p {
	margin: 0;
	
	color: black;
	font-size: .75em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	margin: 0;
}
/*
			Конец
*/

/* 
			Секция "Подробнее"
*/
section.main-more {
	padding-top: 5vw;
}
section.main-more p{
	text-align: center;
}
section.main-more span{
	color: #008DD4;
}
section.main-more b{
	color: #FF181F;
}
section.pages {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
	gap: 1em;
	min-height: 30vh;
	align-items: center;
}
section.pages .page {
	display: block;
	min-width: 15vw;
	max-width: 350px;
	height: 40vh;
	/* min-height: 20hv; */
	
	
	padding: 10px;
	padding: 2vh;
	margin: 0 auto;
	margin-top: 20vh;
	
	background-color: #ff777c;
	border: 1px black;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	text-decoration: none;
	transition: transform 0.5s 0s ease;

	overflow: hidden;
}
section.pages .page:hover {
transform: scale(1.1);
}
section.pages .page:first-child {
	background-color: #439dca;
}
section.pages .page:last-child {
	background-color: #EBEBD3;
}

.page figure {
	margin: 0 auto;
}
.page figure img {	
	margin-top: 5px;
	margin-left: 5px;
	width: 2em;
}




/* 
			Футер
*/
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin: 0 auto;
	margin-top: 5vh;

	background-color: rgb(226, 226, 226);
	color: #58595b;
	background-color: #262730;
}

footer h2 {
	text-align: center;
	margin: 0 auto;
	
}
footer .social-media {
	list-style-type: none;
}
.social-media li {
	display: inline-block;
}
.social-media {
	padding: 0;
}

/* .telegram {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(./img/tg-logo-100.png);
} */
.vk {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(./img/vk-logo-100.png);
}
.github {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(./img/gh-logo-100.png);
}
/* 
			Конец футера
*/

article.map {
	display: flex;
	justify-content: center;
	align-items: center;
}

section.map {
	
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-box {
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 60vw;

	padding: 10px;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	
	
}

.map-box .contact-info {
	background-color: #439dca;
	padding: 30px;
	border-radius: 50px;
}

.map-box .contact-info a {
	text-decoration: none;
}

.telegram {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url(./icon/tg-logo-100.png);
}

.cover-map {
	display: flex;
	border-radius: 15px;
	/* background-color: red; */
	align-items: center;
	justify-content: center;
}
.yamap {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 2px;
	padding-bottom: -5px;

	border-radius: 30px;
	background-color: #EBEBD3;
}

iframe {
	margin: 0 auto;
	border-radius: 50px;
}

/* 
			Сервисы
*/

.service-holder {	
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
}
.service-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	padding: 2vh;
	margin: 0 auto;

	background-color: #ff777c;
	border: 1px black;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	text-decoration: none;
	transition: transform 0.5s 0s ease;

	overflow: hidden;
	flex-basis:45%
}
.service-box:hover {
transform: scale(1.1);
}
.service-box img {
	width: 90%;
}
#blue {
	background-color: #439dca;
}

/* 
			Тех услуги
*/

article.tech {
	display: flex;
	flex-direction: column;
	row-gap: 2vw;	
	width: 60vw;
}
article.tech section{
	padding: 30px 30px 10px 30px;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	font-size: 20px;
	background-color: #EBEBD3;
}
article.tech h2 {
	margin: 0;
	margin-top: -15px;

	font-size: 1.2em;
	line-height: 1em;
}